html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
}

#main {
  display: grid;
  grid-template-rows: 80px 1fr;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 4rem 1rem;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 2rem;
}

#font-select {
  font-size: 1.125rem;
  background-color: #fff;
  border: 1px solid black;
  width: 200px;
  height: 2em;
  padding: 0 .5rem;
}

#testing-area {
  width: 100%;
  height: 100%;
  border: 1px solid #1e1e1e;
  font-size: 2rem;
  padding: 1rem;
}